<ol class="product-list" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <li class="product" ng-repeat="product in allProducts | pagination: currentPage * PAGE_SIZE | limitTo: PAGE_SIZE">
        <div class="product-viewport">
            <figure class="product-image">
                <a ng-href="#/products/{{ product.id }}">
                    <img src="{{ product.thumbnailUrl }}"
                         alt="{{ product.name }}"/>
                </a>
            </figure>
            <div class="product-details">
                <div class="product-detail-main">
                    <h2 class="product-name">
                        <a ng-href="#/products/{{ product.id }}">{{ product.name }}</a>
                    </h2>

                    <div class="product-price">{{ product.price }}</div>
                </div>
                <div class="product-details-extended">
                    <p class="product-description">{{ product.shortDescription }}</p>
                </div>
                <button class="product-button"
                        ng-click="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </li>
</ol>

<div class="pager">
    <ol>
        <li>
            <a ng-class="{ disabled: currentPage === 0 }" ng-click="goToPrevPage()">prev</a>
        </li>
        <li>
            <span class="num">Page {{currentPage + 1}} of {{ numberOfPages }}</span>
        </li>
        <li>
            <a ng-class="{ disabled: currentPage >= allProducts.length / PAGE_SIZE - 1 }"
               ng-click="goToNextPage()">next</a>
        </li>
    </ol>
</div>
