<section class="cart-items">
    <ul>
        <li class="cart-item">
            <div>
                <figure class="cart-item-image">
                    <img src="http://lorempixel.com/100/100/city"/>
                </figure>
                <h2 class="cart-item-name">Product Name</h2>

                <div class="cart-item-quantity-editor">
                    Quantity:
                    <input class="cart-item-quantity" type="number" value="1" min="1" step="1"/>
                    <a class="cart-item-update" href="">Update</a>
                </div>
                <div class="cart-item-total">
                    Total:
                    <span class="cart-item-total-price">$39.99</span>
                </div>
                <button class="cart-item-remove"><i class="fa fa-remove"></i> Remove From Cart</button>
            </div>
        </li>
    </ul>
    <div class="cart-total">
        <div class="cart-total-detail">
            Total of Items in Cart: <span class="cart-total-price">$39.99</span>
        </div>
    </div>
</section>
